<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.healthpact"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
  IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
  to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.codepath.healthpact.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.codepath.healthpact.permission.C2D_MESSAGE" />

    <application
        android:name="com.codepath.healthpact.app.HealthPactApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_healthpact2"
        android:label="@string/app_name"
        android:theme="@style/HealthPactTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="RestClient.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name="com.codepath.healthpact.activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cprest"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>

        <!-- Push service added -->
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Changed "com.parse.starter" to match the app's package name. -->
                <category android:name="com.codepath.healthpact" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.codepath.healthpact.activity.SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name="com.codepath.healthpact.activity.HomeViewActivity"
            android:label="@string/title_activity_home_view" >
        </activity>
        <activity
            android:name="com.codepath.healthpact.activity.CreatePlanActivity"
            android:label="@string/title_activity_create_plan" >
        </activity>
        <activity
            android:name="com.codepath.healthpact.activity.PlanViewActivity"
            android:label="@string/title_activity_plan_view" >
        </activity>
        <activity
            android:name="com.codepath.healthpact.activity.ActionDetailActivity"
            android:label="@string/title_activity_action_detail" >
        </activity>
        <activity
            android:name="com.codepath.healthpact.activity.FindPlansActivity"
            android:label="@string/title_activity_find_plans" >
        </activity>
        <activity
            android:name="com.codepath.healthpact.activity.NewUserProfileActivity"
            android:label="@string/title_activity_new_user_profile" >
        </activity>
        <activity
            android:name="com.codepath.healthpact.UserProfileActivity"
            android:label="@string/title_activity_user_profile" >
        </activity>
    </application>

</manifest>